/* 
 * 
 *
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.11.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package swagger

import (
	"net/url"
	"encoding/json"
	"fmt"
	"strings"
)

type LexiStatsApi struct {
	Configuration Configuration
}

func NewLexiStatsApi() *LexiStatsApi {
	configuration := NewConfiguration()
	return &LexiStatsApi{
		Configuration: *configuration,
	}
}

func NewLexiStatsApiWithBasePath(basePath string) *LexiStatsApi {
	configuration := NewConfiguration()
	configuration.BasePath = basePath

	return &LexiStatsApi{
		Configuration: *configuration,
	}
}

/**
 * Retrieve the frequency of ngrams (1-4) derived from a corpus
 * This endpoint returns frequencies of ngrams of size 1-4. That is the number of times a word (ngram size &#x3D; 1) or words (ngram size &gt; 1) appear in the corpus. Ngrams are case sensitive (\&quot;I AM\&quot; and \&quot;I am\&quot; will have different frequency) and frequencies are calculated per word (true case) so \&quot;the book\&quot; and \&quot;the books\&quot; are two different ngrams. The results can be filtered based on query parameters. &lt;br&gt; &lt;br&gt; Parameters can be provided in PATH, GET or POST (form or json). The parameters in PATH are overridden by parameters in GET, POST and json (in that order). In PATH, individual options are separated by semicolon and values are separated by commas (where multiple values can be used). &lt;br&gt; &lt;br&gt; Example for bigrams (ngram of size 2): * PATH: /tokens&#x3D;a word,another word * GET: /?tokens&#x3D;a word&amp;tokens&#x3D;another word * POST (json):    &#x60;&#x60;&#x60;javascript     {         \&quot;tokens\&quot;: [\&quot;a word\&quot;, \&quot;another word\&quot;]     }   &#x60;&#x60;&#x60;  Either \&quot;tokens\&quot; or \&quot;contains\&quot; has to be provided. &lt;br&gt; &lt;br&gt; Some queries with \&quot;contains\&quot; or \&quot;sort\&quot; can exceed the 30s timeout, in which case the API will return an error message with status code 503. You mitigate this by providing additional restrictions such as \&quot;minFrequency\&quot; and \&quot;maxFrequency\&quot;. &lt;br&gt; &lt;br&gt; You can use the parameters \&quot;offset\&quot; and \&quot;limit\&quot; to paginate through large result sets. For convenience, the HTTP header \&quot;Link\&quot; is set on the response to provide links to \&quot;first\&quot;, \&quot;self\&quot;, \&quot;next\&quot;, \&quot;prev\&quot; and \&quot;last\&quot; pages of results (depending on the context). For example, if the result set contains 50 results and the parameter \&quot;limit\&quot; is set to 25, the Links header will contain an URL for the first 25 results and the next 25 results. &lt;br&gt; &lt;br&gt; Some libraries such as python&#39;s &#x60;requests&#x60; can parse the header automatically and offer a convenient way of iterating through the results. For example: &#x60;&#x60;&#x60;python def get_all_results(url):     while url:         r &#x3D; requests.get(url)         r.raise_for_status()         for item in r.json()[&#39;results&#39;]:           yield item         url &#x3D; r.links.get(&#39;next&#39;, {}).get(&#39;url&#39;) &#x60;&#x60;&#x60; 
 *
 * @param sourceLang IANA language code
 * @param corpus For corpora other than &#39;nmc&#39; (New Monitor Corpus) please contact api@oxforddictionaries.com
 * @param ngramSize the size of ngrams requested (1-4)
 * @param appId App ID Authentication Parameter
 * @param appKey App Key Authentication Parameter
 * @param tokens List of tokens to filter. The tokens are separated by spaces, the list items are separated by comma (e.g., for bigrams (n&#x3D;2) tokens&#x3D;this is,this was, this will)
 * @param contains Find ngrams containing the given token(s). Use comma or space as token separators; the order of tokens is irrelevant.
 * @param punctuation Flag specifying whether to lookup ngrams that include punctuation or not (possible values are \&quot;true\&quot; and \&quot;false\&quot;; default is \&quot;false\&quot;)
 * @param format Option specifying whether tokens should be returned as a single string (option \&quot;google\&quot;) or as a list of strings (option \&quot;oup\&quot;)
 * @param minFrequency Restrict the query to entries with frequency of at least &#x60;minFrequency&#x60;
 * @param maxFrequency Restrict the query to entries with frequency of at most &#x60;maxFrequency&#x60;
 * @param minDocumentFrequency Restrict the query to entries that appear in at least &#x60;minDocumentFrequency&#x60; documents
 * @param maxDocumentFrequency Restrict the query to entries that appera in at most &#x60;maxDocumentFrequency&#x60; documents
 * @param collate collate the results by wordform, trueCase, lemma, lexicalCategory. Multiple values can be separated by commas (e.g., collate&#x3D;trueCase,lemma,lexicalCategory).
 * @param sort sort the resulting list by wordform, trueCase, lemma, lexicalCategory, frequency, normalizedFrequency. Descending order is achieved by prepending the value with the minus sign (&#39;-&#39;). Multiple values can be separated by commas (e.g., sort&#x3D;lexicalCategory,-frequency)
 * @param offset pagination - results offset
 * @param limit pagination - results limit
 * @return *NgramsResult
 */
func (a LexiStatsApi) StatsFrequencyNgramsSourceLangCorpusNgramSizeGet(sourceLang string, corpus string, ngramSize string, appId string, appKey string, tokens string, contains string, punctuation string, format string, minFrequency int64, maxFrequency int64, minDocumentFrequency int64, maxDocumentFrequency int64, collate string, sort string, offset int64, limit int64) (*NgramsResult, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/stats/frequency/ngrams/{source_lang}/{corpus}/{ngram-size}/"
	path = strings.Replace(path, "{"+"source_lang"+"}", fmt.Sprintf("%v", sourceLang), -1)
	path = strings.Replace(path, "{"+"corpus"+"}", fmt.Sprintf("%v", corpus), -1)
	path = strings.Replace(path, "{"+"ngram-size"+"}", fmt.Sprintf("%v", ngramSize), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}
		queryParams.Add("tokens", a.Configuration.APIClient.ParameterToString(tokens, ""))
			queryParams.Add("contains", a.Configuration.APIClient.ParameterToString(contains, ""))
			queryParams.Add("punctuation", a.Configuration.APIClient.ParameterToString(punctuation, ""))
			queryParams.Add("format", a.Configuration.APIClient.ParameterToString(format, ""))
			queryParams.Add("minFrequency", a.Configuration.APIClient.ParameterToString(minFrequency, ""))
			queryParams.Add("maxFrequency", a.Configuration.APIClient.ParameterToString(maxFrequency, ""))
			queryParams.Add("minDocumentFrequency", a.Configuration.APIClient.ParameterToString(minDocumentFrequency, ""))
			queryParams.Add("maxDocumentFrequency", a.Configuration.APIClient.ParameterToString(maxDocumentFrequency, ""))
			queryParams.Add("collate", a.Configuration.APIClient.ParameterToString(collate, ""))
			queryParams.Add("sort", a.Configuration.APIClient.ParameterToString(sort, ""))
			queryParams.Add("offset", a.Configuration.APIClient.ParameterToString(offset, ""))
			queryParams.Add("limit", a.Configuration.APIClient.ParameterToString(limit, ""))
	

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
"text/csv",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}

	// header params "app_id"
	headerParams["app_id"] = appId
	// header params "app_key"
	headerParams["app_key"] = appKey

	var successPayload = new(NgramsResult)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Retrieve the frequency of a word derived from a corpus.
 * This endpoint provides the frequency of a given word. When multiple database records match the query parameters, the returned frequency is the sum of the individual frequencies. For example, if the query parameters are lemma&#x3D;test, the returned frequency will include the verb \&quot;test\&quot;, the noun \&quot;test\&quot; and the adjective \&quot;test\&quot; in all forms (Test, tested, testing, etc.) &lt;br&gt; &lt;br&gt; If you are interested in the frequency of the word \&quot;test\&quot; but want to exclude other forms (e.g., tested) use the option trueCase&#x3D;test. Normally, the word \&quot;test\&quot; will be spelt with a capital letter at the beginning of a sentence. The option trueCase will ignore this and it will count \&quot;Test\&quot; and \&quot;test\&quot; as the same token. If you are interested in frequencies of \&quot;Test\&quot; and \&quot;test\&quot;, use the option wordform&#x3D;test or wordform&#x3D;Test. Note that trueCase is not just a lower case of the word as some words are genuinely spelt with a capital letter such as the word \&quot;press\&quot; in Oxford University Press. &lt;br&gt; &lt;br&gt; Parameters can be provided in PATH, GET or POST (form or json). The parameters in PATH are overriden by parameters in GET, POST and json (in that order). In PATH, individual options are separated by semicolon and values are separated by commas (where multiple values can be used). Examples: * PATH: /lemma&#x3D;test;lexicalCategory&#x3D;noun * GET: /?lemma&#x3D;test&amp;lexicalCategory&#x3D;noun * POST (json):    &#x60;&#x60;&#x60;javascript     {       \&quot;lemma\&quot;: \&quot;test\&quot;,       \&quot;lexicalCategory\&quot;: \&quot;noun\&quot;     }   &#x60;&#x60;&#x60;  &lt;br&gt; One of the options wordform/trueCase/lemma/lexicalCategory has to be provided. 
 *
 * @param sourceLang IANA language code
 * @param appId App ID Authentication Parameter
 * @param appKey App Key Authentication Parameter
 * @param corpus For corpora other than &#39;nmc&#39; (New Monitor Corpus) please contact api@oxforddictionaries.com
 * @param wordform The written form of the word to look up (preserving case e.g., Books vs books)
 * @param trueCase The written form of the word to look up with normalised case (Books --&gt; books)
 * @param lemma The lemma of the word to look up (e.g., Book, booked, books all have the lemma \&quot;book\&quot;)
 * @param lexicalCategory The lexical category of the word(s) to look up (e.g., noun or verb)
 * @return *StatsWordResult
 */
func (a LexiStatsApi) StatsFrequencyWordSourceLangGet(sourceLang string, appId string, appKey string, corpus string, wordform string, trueCase string, lemma string, lexicalCategory string) (*StatsWordResult, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/stats/frequency/word/{source_lang}/"
	path = strings.Replace(path, "{"+"source_lang"+"}", fmt.Sprintf("%v", sourceLang), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}
		queryParams.Add("corpus", a.Configuration.APIClient.ParameterToString(corpus, ""))
			queryParams.Add("wordform", a.Configuration.APIClient.ParameterToString(wordform, ""))
			queryParams.Add("trueCase", a.Configuration.APIClient.ParameterToString(trueCase, ""))
			queryParams.Add("lemma", a.Configuration.APIClient.ParameterToString(lemma, ""))
			queryParams.Add("lexicalCategory", a.Configuration.APIClient.ParameterToString(lexicalCategory, ""))
	

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
"text/csv",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}

	// header params "app_id"
	headerParams["app_id"] = appId
	// header params "app_key"
	headerParams["app_key"] = appKey

	var successPayload = new(StatsWordResult)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * Retrieve a list of frequencies of a word/words derived from a corpus.
 * This endpoint provides a list of frequencies for a given word or words. Unlike the /word/ endpoint, the results are split into the smallest units. &lt;br&gt; &lt;br&gt; To exclude a specific value, prepend it with the minus sign (&#39;-&#39;). For example, to get frequencies of the lemma &#39;happy&#39; but exclude superlative forms (i.e., happiest) you could use options &#39;lemma&#x3D;happy;grammaticalFeatures&#x3D;-degreeType:superlative&#39;. &lt;br&gt; &lt;br&gt; Parameters can be provided in PATH, GET or POST (form or json). The parameters in PATH are overridden by parameters in GET, POST and json (in that order). In PATH, individual options are separated by semicolon and values are separated by commas (where multiple values can be used). &lt;br&gt; &lt;br&gt; The parameters wordform/trueCase/lemma/lexicalCategory also exist in a plural form, taking a lists of items. Examples: * PATH: /wordforms&#x3D;happy,happier,happiest * GET: /?wordforms&#x3D;happy&amp;wordforms&#x3D;happier&amp;wordforms&#x3D;happiest * POST (json): &#x60;&#x60;&#x60;javascript   {     \&quot;wordforms\&quot;: [\&quot;happy\&quot;, \&quot;happier\&quot;, \&quot;happiest\&quot;]   } &#x60;&#x60;&#x60; A mor complex example of retrieving frequencies of multiple lemmas: &#x60;&#x60;&#x60;   {       \&quot;lemmas\&quot;: [\&quot;happy\&quot;, \&quot;content\&quot;, \&quot;cheerful\&quot;, \&quot;cheery\&quot;, \&quot;merry\&quot;, \&quot;joyful\&quot;, \&quot;ecstatic\&quot;],       \&quot;grammaticalFeatures\&quot;: {           \&quot;adjectiveFunctionType\&quot;: \&quot;predicative\&quot;       },       \&quot;lexicalCategory\&quot;: \&quot;adjective\&quot;,       \&quot;sort\&quot;: [\&quot;lemma\&quot;, \&quot;-frequency\&quot;]   } &#x60;&#x60;&#x60; Some queries with \&quot;collate\&quot; or \&quot;sort\&quot; can exceed the 30s timeout, in which case the API will return an error message with status code 503. You mitigate this by providing additional restrictions such as \&quot;minFrequency\&quot; and \&quot;maxFrequency\&quot;. &lt;br&gt; &lt;br&gt; You can use the parameters \&quot;offset\&quot; and \&quot;limit\&quot; to paginate through large result sets. For convenience, the HTTP header \&quot;Link\&quot; is set on the response to provide links to \&quot;first\&quot;, \&quot;self\&quot;, \&quot;next\&quot;, \&quot;prev\&quot; and \&quot;last\&quot; pages of results (depending on the context). For example, if the result set contains 50 results and the parameter \&quot;limit\&quot; is set to 25, the Links header will contain an URL for the first 25 results and the next 25 results. &lt;br&gt; &lt;br&gt; Some libraries such as python&#39;s &#x60;requests&#x60; can parse the header automatically and offer a convenient way of iterating through the results. For example: &#x60;&#x60;&#x60;python def get_all_results(url):     while url:         r &#x3D; requests.get(url)         r.raise_for_status()         for item in r.json()[&#39;results&#39;]:           yield item         url &#x3D; r.links.get(&#39;next&#39;, {}).get(&#39;url&#39;) &#x60;&#x60;&#x60; 
 *
 * @param sourceLang IANA language code
 * @param appId App ID Authentication Parameter
 * @param appKey App Key Authentication Parameter
 * @param corpus For corpora other than &#39;nmc&#39; (New Monitor Corpus) please contact api@oxforddictionaries.com
 * @param wordform The written form of the word to look up (preserving case e.g., Book vs book)
 * @param trueCase The written form of the word to look up with normalised case (Books --&gt; books)
 * @param lemma The lemma of the word to look up (e.g., Book, booked, books all have the lemma \&quot;book\&quot;)
 * @param lexicalCategory The lexical category of the word(s) to look up (e.g., adjective or noun)
 * @param grammaticalFeatures The grammatical features of the word(s) to look up entered as a list of k:v (e.g., degree_type:comparative)
 * @param sort sort the resulting list by wordform, trueCase, lemma, lexicalCategory, frequency, normalizedFrequency. Descending order is achieved by prepending the value with the minus sign (&#39;-&#39;). Multiple values can be separated by commas (e.g., sort&#x3D;lexicalCategory,-frequency)
 * @param collate collate the results by wordform, trueCase, lemma, lexicalCategory. Multiple values can be separated by commas (e.g., collate&#x3D;trueCase,lemma,lexicalCategory).
 * @param minFrequency Restrict the query to entries with frequency of at least &#x60;minFrequency&#x60;
 * @param maxFrequency Restrict the query to entries with frequency of at most &#x60;maxFrequency&#x60;
 * @param minNormalizedFrequency Restrict the query to entries with frequency of at least &#x60;minNormalizedFrequency&#x60;
 * @param maxNormalizedFrequency Restrict the query to entries with frequency of at most &#x60;maxNormalizedFrequency&#x60;
 * @param offset pagination - results offset
 * @param limit pagination - results limit
 * @return *StatsWordResultList
 */
func (a LexiStatsApi) StatsFrequencyWordsSourceLangGet(sourceLang string, appId string, appKey string, corpus string, wordform string, trueCase string, lemma string, lexicalCategory string, grammaticalFeatures string, sort string, collate string, minFrequency int64, maxFrequency int64, minNormalizedFrequency float32, maxNormalizedFrequency float32, offset int64, limit int64) (*StatsWordResultList, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/stats/frequency/words/{source_lang}/"
	path = strings.Replace(path, "{"+"source_lang"+"}", fmt.Sprintf("%v", sourceLang), -1)


	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}
		queryParams.Add("corpus", a.Configuration.APIClient.ParameterToString(corpus, ""))
			queryParams.Add("wordform", a.Configuration.APIClient.ParameterToString(wordform, ""))
			queryParams.Add("trueCase", a.Configuration.APIClient.ParameterToString(trueCase, ""))
			queryParams.Add("lemma", a.Configuration.APIClient.ParameterToString(lemma, ""))
			queryParams.Add("lexicalCategory", a.Configuration.APIClient.ParameterToString(lexicalCategory, ""))
			queryParams.Add("grammaticalFeatures", a.Configuration.APIClient.ParameterToString(grammaticalFeatures, ""))
			queryParams.Add("sort", a.Configuration.APIClient.ParameterToString(sort, ""))
			queryParams.Add("collate", a.Configuration.APIClient.ParameterToString(collate, ""))
			queryParams.Add("minFrequency", a.Configuration.APIClient.ParameterToString(minFrequency, ""))
			queryParams.Add("maxFrequency", a.Configuration.APIClient.ParameterToString(maxFrequency, ""))
			queryParams.Add("minNormalizedFrequency", a.Configuration.APIClient.ParameterToString(minNormalizedFrequency, ""))
			queryParams.Add("maxNormalizedFrequency", a.Configuration.APIClient.ParameterToString(maxNormalizedFrequency, ""))
			queryParams.Add("offset", a.Configuration.APIClient.ParameterToString(offset, ""))
			queryParams.Add("limit", a.Configuration.APIClient.ParameterToString(limit, ""))
	

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		"application/json",
"text/csv",
	}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}

	// header params "app_id"
	headerParams["app_id"] = appId
	// header params "app_key"
	headerParams["app_key"] = appKey

	var successPayload = new(StatsWordResultList)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

